{{#if group === 'Discover'}}
{{elseif group === 'Develop'}}
  {{#if topic === 'TrustGod'}}
    {{#if sub_topic === 'Study'}}
    <DevelopTrustGodStudy/>
    {{else}}
    <h4>No content here yet...check back soon!</h4>
    {{/if}}
  {{else}}
  <h4>No content here yet...check back soon!</h4>
  {{/if}}
{{elseif group === 'Deepen'}}
{{else}}
<h4>No content here yet...check back soon!</h4>
{{/if}}

<script>
import { DevelopTrustGodStudy } from 'Topics/Develop'

export default {
  components: {
    DevelopTrustGodStudy
  }
}
</script>
