<h1 class="title">Spiritual Growth</h1>
<uiView/>

<script>
export default {
  data() {
    return {
      name: 'Life Group'
    }
  }
}
</script>

<style scoped>
.title {
  text-align: center;
  color: #2980b9;
}
</style>
