<h2 class="sub-title">{{ topic_title }}</h2>
{{#if topic}}
<div class="sub-topics">
  <div>
    <a href="{{ asr.makePath('App.SubTopic', { topic: topic, sub_topic: 'Study' }) }}"><h3>Study</h3></a>
  </div>
  <div>
    <a href="{{ asr.makePath('App.SubTopic', { topic: topic, sub_topic: 'Read' }) }}"><h3>Read</h3></a>
  </div>
  <div>
    <a href="{{ asr.makePath('App.SubTopic', { topic: topic, sub_topic: 'Apply' }) }}"><h3>Apply</h3></a>
  </div>
</div>
{{/if}}


<script>
import { topics } from 'Topics'

export default {
  computed: {
    topic_title(topics, topic) {
      return (topics[topic] || { title: 'Loading...' }).title
    }
  },

  data() {
    return {
      topics,
      topic: ''
    }
  }
}
</script>

<style scoped>
.sub-title {
  text-align: center;
  color: #3498db;
}
</style>
