<div class="topic-list">
{{#each topics as topic}}
  <!-- <div class="topic"> -->

    <a class="topic" href="{{ asr.makePath('App.Topic', { topic: topic.path }) }}">{{ topic.title }}</a>
  <!-- </div> -->
{{/each}}
</div>

<script>
import { topics } from 'Topics'

export default {
  data() {
    return {
      topics: Object.keys(topics).map(topic => {
        const t = topics[topic]
        t.path = topic

        return t
      })
    }
  }
}
</script>

<style scoped>
.topic-list {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-flow: row wrap;
}

.topic {
  background-color: #3498db;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  text-align: center;
  /*line-height: 10rem;*/
  text-decoration: none;
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.5);
}
</style>
