<!-- Develop/TrustGod/Study -->
<h1 class="header">Spiritual Outcome Defined</h1>
<section>
Trusts God and not idols (e.g., money, relationships, career) as one's source of security, joy, and purpose.
</section>

<h1 class="header">Spiritual Outcome Described</h1>
<section>
  <section>
  Common perception is that a follower of Christ is someone who believes in the existence of God and believes in the deity of Christ.
  Simply believe that God exists and that he sent his son, and you are considered a Christ-follower.
  Such thinking, though, is flawed.
  It misses the critical distinction between <em>belief</em> and trust.
  A person might believe an airplane can fly but not be willing to trust in the airplane by actually boarding it and experiencing flight.
  Scripture not only calls us to a belief in the existence of God, but we are exhorted to entrust our lives and well being to God through Christ.
  James wrote, <em class="scripture">"You believe there is one God. Good! Even the demons believe that—and shudder"</em> (James 2:29).
  Or put another way, even enemies of God believe God exists and that he sent his son.
  Abraham was called a friend of God, not because he believed God exists, but because he entrusted his life to God.
  Humanity looks to many things other than God for security, purpose, and well being, effectively making these things their god.
  </section>
  <section>
  Most common, possibly, is an unbridled trust in money.
  Money is important and plays a critical role in our lives, but we understand without explanation when Scripture commands those who are rich to <em class="scripture">"not put their hope in wealth, which is so uncertain, but to put their hope in God"</em> (1 Timothy 6:17).
  There are many things we can trust in with the kind of ultimate trust that should only be put in God: social status, vocational advancement, beauty, marriage, family, politics, and more.
  </section>
  <section>
  These, and others, are often both good and necessary aspects of life, but we make a critical distinction when we internalize the truth that they make lousy gods of ultimate trust.
  David, the warrior and king, knew this distinction well when he wrote, <em class="scripture">"Some trust in chariots and some in horses, but we trust in the name of the Lord our God"</em> (Psalm 20:7).
  </section>
</section>

<h1 class="header">Evidence of this Spiritual Outcome in a Person's Life</h1>
<section>
  <ul>
    <li>Enjoyment of God's gifts (e.g., money, friends, opportunities, jobs) without clinging to them.</li>
    <li>A willingness to follow God, even when it hurts (losing the deal rather than compromising integrity, losing the relationship rather than compromising morals, etc.).</li>
    <li>A willingness to follow God, even outside of one's comfort zone (engaging needed but risky conversations, following God's promptings without full understanding).</li>
    <li>A rested spirit and an absence of striving.</li>
  </ul>
</section>

<h1 class="header">Guidance</h1>
<section>
  Read each passage multiple times.
  Then write your observations about the passage and any thoughts you have from the discernment question.
  What do you notice in the passage, and what does this reveal about your life?
</section>

<h1 class="header">Exodus 17:8-16</h1>
<section>
Observations:
<textarea bind:value="exodus_17_8_16"></textarea>
Discernment Question: Moses and the Israelites entrusted their battle to God. What do you do when life battles against you (engage, escape, pray, eat, drink, etc.)? What are practical ways you can entrust your battles to God?
</section>

<h1 class="header">Exodus 20:3</h1>
<section>
Observations:
<textarea bind:value="exodus_20_3"></textarea>
Discernment Question: What is God’s greatest competition in your life? What “gods” might you go to rather than going to him?
</section>

<h1 class="header">1 Samuel 17:41-45 (especially 17:45)</h1>
<section>
Observations:
<textarea bind:value="first_samuel_17_41_45"></textarea>
Discernment Question: If Goliath was living your life, what would he point to for his confidence (education, finances, skills, strength, etc.)?
</section>

<h1 class="header">Psalm 20:7-9</h1>
<section>
Observations:
<textarea bind:value="psalm_20_7_9"></textarea>
Discernment Question: What is the equivalent of “chariots and horses” in your life? What does it look like to entrust your wellbeing to God whether you have these chariots and horses or not?
</section>

<h1 class="header">Psalm 147:10-11</h1>
<section>
Observations:
<textarea bind:value="psalm_147_10_11"></textarea>
Discernment Question: How does your life give God pleasure and delight?
</section>

<h1 class="header">Proverbs 31:30</h1>
<section>
Observations:
<textarea bind:value="proverbs_31_30"></textarea>
Discernment Question: How have physical attractiveness or physical strength effected your confidence in life? Have they brought about either arrogance or insecurity? If so, why and how might your confidence in God (or lack of confidence) influence these areas?
</section>

<h1 class="header">Jeremiah 1:4-8</h1>
<section>
Observations:
<textarea bind:value="jeremiah_1_4_8"></textarea>
Discernment Question: What has God called you to be or do, but you have hesitated due to worldly insecurities?
</section>

<h1 class="header">Habakkuk 3:17-19</h1>
<section>
Observations:
<textarea bind:value="habakkuk_3_17_19"></textarea>
Discernment Question: How have disappointments and unmet expectations effected your trust in God?
</section>

<h1 class="header">Matthew 6:25-34</h1>
<section>
Observations:
<textarea bind:value="matthew_6_25_34"></textarea>
Discernment Question: How has having material possessions and money effected your trust in God? How has not having material possessions and money effected your trust in God?
</section>

<h1 class="header">Matthew 8:23-27</h1>
<section>
Observations:
<textarea bind:value="matthew_8_23_27"></textarea>
Discernment Question: What “wind and waves” are currently rocking your boat? How might you experience God’s peace despite these challenges?
</section>

<h1 class="header">Matthew 14:13-21</h1>
<section>
Observations:
<textarea bind:value="matthew_14_13_21"></textarea>
Discernment Question: What are the loaves and fish in your own life God is wanting you to entrust to him?
</section>

<h1 class="header">Next Steps</h1>
<section>
What are practical next steps you will do from what you have discovered in this survey of Scripture on trusting God?
Include insights offered from others in your group that could be applied in your own life as well.
<ul>
<li><input bind:value="next_steps_0"/></li>
<li><input bind:value="next_steps_1"/></li>
<li><input bind:value="next_steps_2"/></li>
<li><input bind:value="next_steps_3"/></li>
<li><input bind:value="next_steps_4"/></li>
</ul>
</section>

<h1 class="header">Memory Verses</h1>
<section>
  <strong>Psalm 46:10</strong> NIV
  <blockquote class="scripture">
  He says, "Be still, and know that I am God; I will be exalted among the nations, I will be exalted in the earth.
  </blockquote>
  <strong>Proverbs 3:5-6</strong> NIV
  <blockquote class="scripture">
  Trust in the Lord with all your heart and lean not on your own understanding;
  in all your ways submit to him, and he will make your paths straight.
  </blockquote>
</section>

<script>
const bind = function(self) {
  const attributes = self.get()

  Object.keys(attributes).forEach(attribute => {
    self.observe(
      attribute,
      next => {
        localStorage.setItem(namespace + '.' + attribute, JSON.stringify(next))
      },
      { init: false }
    )

    const result = JSON.parse(
      localStorage.getItem(namespace + '.' + attribute) || '""'
    )

    self.set({ [attribute]: result })
  })
}

const namespace = 'Develop.TrustGod.Study'

export default {
  data() {
    return {
      exodus_17_8_16: '',
      exodus_20_3: '',
      first_samuel_17_41_45: '',
      psalm_20_7_9: '',
      psalm_147_10_11: '',
      proverbs_31_30: '',
      jeremiah_1_4_8: '',
      habakkuk_3_17_19: '',
      matthew_6_25_34: '',
      matthew_8_23_27: '',
      matthew_14_13_21: '',
      next_steps_0: '',
      next_steps_1: '',
      next_steps_2: '',
      next_steps_3: '',
      next_steps_4: ''
    }
  },

  oncreate() {
    bind(this)
  }
}
</script>
