<h2 class="title">{{ topic_group }} &mdash; {{ topic_title }}</h2>
<h3 class="title">{{ sub_topic }}</h3>
<div class="topic-text {{ isMobile ? 'mobile' : '' }}">
<TopicMap group="{{ topic_group }}" topic="{{ topic }}" sub_topic="{{ sub_topic }}"/>
</div>


<script>
import { topics } from 'Topics'

import { TopicMap } from 'Components'

export default {
  components: {
    TopicMap
  },

  computed: {
    topic_title(topics, topic) {
      return (topics[topic] || { title: 'Loading...' }).title
    },
    topic_html(topic, sub_topic, topics) {
      if (topics[topic]) {
        return topics[topic].sections[sub_topic]
      }
    },
    topic_group(topic) {
      return (topics[topic] || {}).group
    }
  },

  data() {
    return {
      topics,
      topic: '',
      sub_topic: ''
    }
  },

  oncreate() {
    const isMobile = !!navigator.userAgent.match(/android|iphone|ipad/i)
    this.set({ isMobile })
  }
}
</script>

<style scoped>
.title {
  text-align: center;
}

.topic-text {
  margin-left: 20vw;
  margin-right: 20vw;
}

.topic-text.mobile {
  margin-left: 5vw;
  margin-right: 5vw;
}

textarea {
  display: block;
  width: 100%;
  min-height: 10rem;
  margin-bottom: 1rem;
}

input {
  width: 100%;
}

section > section {
  margin-top: 1rem;
}

.scripture {
  font-style: italic;
}
</style>
